{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "semi": [
      2,
      "always"
    ]
  }
}